<!DOCTYPE HTML>
<html lang="en">
{% include "layouts/base.html" %}
<head>
    <title> Color Code </title>

</head>
<body>

<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
{#{% include "layouts/navbar.html" %}#}
<!-- Search for all the Hack: below for hack-a-thon and mini-lab requirements -->
<!-- need to adjust Templates to start -->

<!-- Hack: Build form to drive bit size dynamic updates
           use HTML Input Form in Frontend, ie toward top of Page
           send initial value and updated values to form via Python render_template -->
<!-- Hack: use 8 as default-->

{% set MAX = ((2 ** 8) - 1) %}

<!-- Hack: Set bulbs and pass as variables via Python render_template
           add new images (ie PNGs) to project -->
<!-- use your PNGs as default -->
{% set msgTurnOn = "Turn On" %}
{% set msgTurnOff = "Turn Off" %}

{% block meta1 %}
<title>Color Code</title>
<script>
    const BITS = '{{ BITS }}'; let max = '{{ MAX }}'; let MAX = parseInt(max, 10);
    // return string with current value of each bit
    function getBits(n) {
        let bits = "";
        for(let i = 0; i < 8; i++) {
            bits = bits + document.getElementById('digit' + n+''+i).value;
        }
        return bits;
    }
    const testDiv = document.getElementById('myColor');


    // setter for DOM values
    function setConversions(binary1, binary2, binary3) {
        document.getElementById('binary1').innerHTML = binary1;
        document.getElementById('binary2').innerHTML = binary2;
        document.getElementById('binary3').innerHTML = binary3;
        //alert("Digit action: " + binary1+''+binary2 );

        // DOM assignment to Octal conversion
        //document.getElementById('octal').innerHTML = parseInt(binary, 2).toString(8);
        // DOM assignment to Hexadecimal conversion
        //document.getElementById('hexadecimal').innerHTML = parseInt(binary, 2).toString(16);
        // DOM assignment to Decimal conversion
        document.getElementById('decimal1').innerHTML = parseInt(binary1, 2).toString(10);
        document.getElementById('decimal2').innerHTML = parseInt(binary2, 2).toString(10);
        document.getElementById('decimal3').innerHTML = parseInt(binary3, 2).toString(10);
        document.getElementById('hexadecimal1').innerHTML = parseInt(binary1, 2).toString(16);
        document.getElementById('hexadecimal2').innerHTML = parseInt(binary2, 2).toString(16);
        document.getElementById('hexadecimal3').innerHTML = parseInt(binary3, 2).toString(16);
        document.getElementById('hexcode').innerHTML = "Hexcode: #"+parseInt(binary1, 2).toString(16)+''+
            parseInt(binary2, 2).toString(16)+''+parseInt(binary3, 2).toString(16);
        //alert("decimal: " + binary);
        /* Hack: show ASCII printable character(s) for each 8 bits
         DOM assignment by converting decimal https://www.w3schools.com/jsref/jsref_fromcharcode.asp
         below ASCII for more ideas of where to make changes
         */
        // DOM assignment to ASCII conversion
        //document.getElementById('ascii').innerHTML = String.fromCharCode(parseInt(binary, 2)).toString(10);

        document.getElementById('RColor').style.backgroundColor = 'rgb('+parseInt(binary1, 2).toString(10)+',0,0)';
        document.getElementById('GColor').style.backgroundColor = 'rgb(0,'+parseInt(binary2, 2).toString(10)+',0)';
        document.getElementById('BColor').style.backgroundColor = 'rgb(0,0,'+parseInt(binary3, 2).toString(10)+')';
        document.getElementById('combinedColor').style.backgroundColor = 'rgb('+parseInt(binary1, 2).toString(10)+',' +
            ''+parseInt(binary2, 2).toString(10)+','+parseInt(binary3, 2).toString(10)+')';
    }




    // toggle selected bit and recalculate
    function toggleBit(nr,i) {
        //alert("Digit action: " + n+''+i );
        const dig = document.getElementById('digit' + nr +''+i);
        // const image = document.getElementById('bulb' + i);
        const butt = document.getElementById('butt' + nr +''+ i);
      // Change digit and visual
        //if (image.src.match("{{ imgBulbOn }}")) {
        if (butt.innerHTML.match("{{ msgTurnOn }}")) {
            dig.value = 1;
            //image.src = "{{ imgBulbOff }}";
            butt.innerHTML = "{{ msgTurnOff }}";
        } else {
            dig.value = 0;
            //image.src = "{{ imgBulbOn }}";
            butt.innerHTML = "{{ msgTurnOn }}";
        }
        // Binary numbers
        const binary1 = getBits(1);
        const binary2 = getBits(2);
        const binary3 = getBits(3);
        //alert("Digit action: " + binary1+' '+binary2 );

        setConversions(binary1,binary2, binary3);

        bgColor();
    }

    function bgColor() {
        document.body.style.backgroundColor = "#" + document.getElementById('topTable').rows[1].cells[3].innerHTML;
    }
</script>
{% endblock %}

{% block content1 %}
<h1 class="text-center">Color Code </h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <table class="table">
                <tr id="table">
                    <th>R Binary</th>
                    <th>R Decimal</th>
                    <th>R Hex</th>
                    <th>R Color</th>

                </tr>
                <tr>
                    <td id="binary1">00000000</td>
                    <td id="decimal1">0</td>
                    <td id="hexadecimal1">0</td>
                    <td id="RColor">    </td>


                </tr>
                <tr>
                    <th>G Binary</th>
                    <th>G Decimal</th>
                    <th>G Hex</th>
                    <th>G Color</th>
                </tr>
                <tr>
                    <td id="binary2">00000000</td>
                    <td id="decimal2">0</td>
                    <td id="hexadecimal2">0</td>
                    <td id="GColor">    </td>

                </tr>
                <tr>
                    <th>B Binary</th>
                    <th>B Decimal</th>
                    <th>B Hex</th>
                    <th>B Color</th>
                </tr>
                <tr>
                    <td id="binary3">00000000</td>
                    <td id="decimal3">0</td>
                    <td id="hexadecimal3">0</td>
                    <td id="BColor">    </td>

                </tr>
            </table>
        </div>
        <h2 id="combinedColor">Combined Color</h2>
        <p style="text-align:center" id="hexcode">000000</p>
        <div class="col-12">
            <table class="table">
                <tr>
                    {% for i in range(8) %}
                    <td>
                        <button type="button" id="butt1{{i}}" onclick="toggleBit(1,'{{i}}')">{{ msgTurnOn }}</button>
                    </td>
                    {% endfor %}
                </tr>

                <tr>
                    {% for i in range(8) %}
                        <td><input type='text' id='digit1{{i}}' Value="0" size="1" readonly></td>
                    {% endfor %}
                </tr>

                <tr>
                    {% for i in range(8) %}
                    <td>
                        <button type="button" id="butt2{{i}}" onclick="toggleBit(2,'{{i}}')">{{ msgTurnOn }}</button>
                    </td>
                    {% endfor %}
                </tr>

                <tr>
                    {% for i in range(8) %}
                    <td><input type='text' id='digit2{{i}}' Value="0" size="1" readonly></td>
                    {% endfor %}
                </tr>

                <tr>
                    {% for i in range(8) %}
                    <td>
                        <button type="button" id="butt3{{i}}" onclick="toggleBit(3,'{{i}}')">{{ msgTurnOn }}</button>
                    </td>
                    {% endfor %}
                </tr>

                <tr>
                    {% for i in range(8) %}
                    <td><input type='text' id='digit3{{i}}' Value="0" size="1" readonly></td>
                    {% endfor %}
                </tr>

            </table>

        </div>

    </div>
</div>
{% endblock %}




</body>




</html>

<!DOCTYPE html>
