{% include "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logic Gates</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<bodystyle = "background-color:LightGray;>

<h1 style="text-align: center">Logic Gates</h1>

{% set imageList = ["andlogicgate.png", "nandlogicgate.png", "orlogicgate.png", "norlogicgate.png", "xorlogicgate.png", "notlogicgate.png"]  %}
{% set img = ["and1", "nand1", "or1", "nor1", "xor1", "not1"] %}
{% set textImg = ["and", "nand", "or", "nor", "xor", "not"] %}
{% set result = ["false", "true", "false", "true", "false", "true"]  %}
{% set textList = ["And Gate", "Nand Gate", "Or Gate", "Nor Gate", "Xor Gate", "Inverter/Not Gate"] %}

{% block meta %}
    <script>
        function myFunction(){
            const a = document.getElementById("checkbox1")
            const b = document.getElementById("checkbox2")
            if (a.checked && b.checked){ //both
                document.getElementById("and").innerHTML = "true";
            }
            else { //none or one
                document.getElementById("and").innerHTML = "false";
            }
            if (!(a.checked && b.checked)){ //none or one
                document.getElementById("nand").innerHTML = "true";
            }
            else { //and
                document.getElementById("nand").innerHTML = "false";
            }
            if (a.checked || b.checked){ //x or y
                document.getElementById("or").innerHTML = "true";
            }
            else { //none
                document.getElementById("or").innerHTML = "false";
            }
            if (!(a.checked || b.checked)){ //none
                document.getElementById("nor").innerHTML = "true";
            }
            else { //one or both
                document.getElementById("nor").innerHTML = "false";
            }
            if ( ( a.checked && !b.checked ) || ( !a.checked && b.checked ) ){ //one not both
                document.getElementById("xor").innerHTML = "true";
            }
            else { //none or both
                document.getElementById("xor").innerHTML = "false";
            }
            if (!a.checked){
                document.getElementById("not").innerHTML = "true";
            }
            else {
                document.getElementById("not").innerHTML = "false";
            }
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <h2 class="text-left" style="font-size: x-large; font-family: Arial, Helvetica, sans-serif">Inputs</h2>
                <form name="form" method="POST">
                    <label>
                        <span>a</span>
                        <input type="checkbox" name="A" class="inline checkbox" id="checkbox1" value="1">
                    </label>

                    <label>
                        <span>b</span>
                        <input type="checkbox" name="B" class="incline checkbox" id="checkbox2" value="1">
                    </label>

                    <input type="button" style="font-family: Arial, Helvetica, sans-serif" onclick="myFunction()" value="Submit">
                </form>
            </div>
            <div class="col-8">
                <h3 class="text-left" style="font-size: x-large; font-family:Arial, Helvetica, sans-serif">The Gates</h3>
                <table border="5" bordercolordark="red" bordercolorlight="pink">
                    <tr>
                        <th style=font-size:25px> Symbols </th>
                        <th style=font-size:25px> Logic Gates:</th>
                        <th style=font-size:25px> Output:</th>
                    </tr>
                    {% for item in imageList %}
                        <tr>
                            <td class="col-6">
                                <img class="img-responsive py-3" id="{{ img[loop.index0] }}" alt="" width="256" height="Auto" src="/static/assets/{{ item }}" >
                            </td>
                            <td class="col-6"> {{ textList[loop.index0] }}</td>
                            <td id="{{ textImg[loop.index0] }}" class="col-6">{{ result[loop.index0] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}


</body>
</html>
