<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Playground</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/aboutAidan">Aidan</a>
                        <a class="dropdown-item" href="/aboutArch">Arch</a>
                        <a class="dropdown-item" href="/aboutDavid">David</a>
                        <a class="dropdown-item" href="/aboutTyler">Tyler</a>
                        <a class="dropdown-item" href="/aboutWilliam">William</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        Games
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/games">Menu</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/games/rockpaper">Rock Paper Scissors</a>
                        <a class="dropdown-item" href="/games/tictactoe">Tic Tac Toe</a>
                        <a class="dropdown-item" href="/games/sleepingsimulator">Sleeping Simulator</a>
                        <a class="dropdown-item" href="/games/whackamole">Whack A Mole</a>
                        <a class="dropdown-item" href="/games/blackscreen">Blackscreen</a>
                        <a class="dropdown-item" href="/games/terminal">Terminal Color</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        MiniLab
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/video0">Video0</a>
                        <a class="dropdown-item" href="/greet">Greet</a>
                        <a class="dropdown-item" href="/binary">Binary Math</a>
                        <a class="dropdown-item" href="/rgb">RGB</a>
                        <a class="dropdown-item" href="/colorcodes">Color Codes</a>
                        <a class="dropdown-item" href="/LogicG">Logic Gates</a>
                        <a class="dropdown-item" href="/tpt8extracredit">Week 8 TPT Extra Credit Challenge</a>
                        <a class="dropdown-item" href="/gamesapi">Free to Play Games</a>
                        <a class="dropdown-item" href="/gamesapiquiz">F2P Games Quiz</a>
                    </div>
                </li>
        </div>
    </div>
</nav>