<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                <a class="navbar-brand" href="/">AstronoNinjas</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/aboutArch/">Arch</a>
                        <a class="dropdown-item" href="/connor_homepage/">Connor</a>
                        <a class="dropdown-item" href="/davidhomepage/">David</a>
                        <a class="dropdown-item" href="/derrickpage/">Derrick</a>
                        <a class="dropdown-item" href="/reinhardtpage/">Reinhardt</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton2" type="button">
                        Space Center
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <a class="dropdown-item" href="/learn_planets/">Learn the Planets</a>
                        <a class="dropdown-item" href="/randomphotos/">Random Astro Photos</a>
                        <a class="dropdown-item" href="/randomPictures/">Random Space Picture Generator</a>
                        <a class="dropdown-item" href="/search/">Search Astronomers</a>
                        <a class="dropdown-item" href="/uploadphotos/">Upload Photos</a>
                        <a class="dropdown-item" href="/planetpictures/">Astrogallery</a>
                        <a class="dropdown-item" href="/gallery/">Space Gallery</a>
                        <a class="dropdown-item" href="/orbits/">Orbit Times</a>

                        <a class="dropdown-item" href="/site/">Space News</a>
                        <a class="dropdown-item" href="/spacequiz/">Space Quiz</a>
                        <a class="dropdown-item" href="/NotDatabase/">Not Database - Palindrome</a>
                  <a class="dropdown-item" href="/planetcalculator/">Calculate Travel Time to Planets</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        Activities
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/activity">Menu</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/how-to-play/tictactoe/">Tic Tac Toe</a>
                        <a class="dropdown-item" href="/how-to-play/blackscreen/">Blackscreen</a>
                        <a class="dropdown-item" href="/how-to-play/terminal/">Terminal Color</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        MiniLab
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="#">Nothing yet...</a>
                    </div>
                </li>
            </nav>
        </div>
    </div>
    <div class="btn-group">
        <!-- Clock display -->
        <div class="px-3 text-dark">
            <span id="clock"></span>
        </div>
        <!-- Dark mode action -->
        <div class="form-check form-switch">
            <input type="checkbox" onclick="darkFunction()" class="form-check-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
        </div>
    </div>
    <script>
        function darkFunction() {
            // toggles between off (standard CSS) and dark-mode (.dark-mode CSS)
            document.body.classList.toggle("dark-mode");
            // localStorage is used to manage darkSwitch status
            darkSwitch.checked
                ? localStorage.setItem("darkSwitch","dark")
                : localStorage.removeItem("darkSwitch");
        }
    </script>
</nav>