<!-- Extending the predefined project layout -->
<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">
{% include "layouts/base.html" %}
<head>
    <title>How To Play</title>

</head>

<body>
<!- Try building a new body here ->
<h1><strong>Blackscreen</strong></h1>

<a href={{ url_for('games.blackscreen') }}> <embed type="image/jpg" src="http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/ec7f4a1c7d1e7e5.png" width="255" height="130"></a>

<h2><strong>Instructions:</strong></h2>

<div class="container p-3 my-3 rounded">

    <h4><strong>Gameplay</strong></h4>
    <h6>This is a sound based game that uses key presses to progress. Can be 1 player or 2 player.</h6>
    <br>
    <h4><strong>Controls</strong></h4>
    <h6>When booting up the game, press [Enter] to start the game.</h6>
    <h6>Player 1 uses WASD, Player 2 uses arrow keys. Up to jump and down to pipe.</h6>
    <h6>Collect coins using [C].</h6>
    <h6>The game ends when pressing [X].</h6>
    <br>
    <h4><strong>Creation Method</strong></h4>
    <h6>This activity was created using HTML audio elements and Javascript, all in the frontend.</h6>

</div>

</body>

</html>