<!-- Extending the predefined project layout -->
<!-- Custom file for standardizing Project Data
This HTML is set up as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">
{% include "layouts/base.html" %}





<head>
    <title>Playground | About David </title>

</head>

<body>


<!- Try building a new body here ->
<h1><strong>David Xie</strong></h1>
<p>Hello, user! David is a junior in Computer Science Principles class who enjoys coding to help others as well as for entertainment. </p>
{% include "layouts/greet.html" %}


</body>

<head>
    <style>
        .gfg {
            margin: 3%;
            position: relative;
        }

        .first-txt {
            position: absolute;
            top: 17px;
            left: 50px;
        }
    </style>
</head>

<body>
<div class="gfg">
    <img src="/static/assets/Davidwatermark.jpg" alt="David Xie" width="350" height="500" style="float:none">
    <h3 class="first-txt" style= "color:White;">
        David Xie
    </h3>
</div>


</html>

