<!-- Extending the predefined project layout -->
<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">
{% include "layouts/base.html" %}





<head>
    <title>Playground | About William </title>

</head>

<body>


<!- Try building a new body here ->
<h1><strong>William Wu</strong></h1>
<p>Hey, reader! William Wu is a sophomore in Computer Science Principles who enjoys coding and cybersecurity. </p>
{% include "layouts/greet.html" %}


</body>

<head>
    <style>
        .gfg {
            margin: 3%;
            position: relative;
        }

        .first-txt {
            position: absolute;
            top: 17px;
            left: 50px;
        }
    </style>
</head>

<body>
<div class="gfg">
    <img src="/static/assets/William Wu.png" alt="William Wu" width="400" height="500">
    <h3 class="first-txt" style= "color:White;">
        William Wu
    </h3>
</div>


</html>

