<!DOCTYPE html>
<html lang="en">
{% extends "layouts/base.html" %}

{% block meta %}
    <meta charset="UTF-8">
    <title>Connor Create Task</title>
    <style>
        input {
            padding: 12px 20px;
            box-sizing: border-box;
            border: 15px darkblue;
            border-radius: 10px;
            {#outline: none;#}
        }

        input[type=text]:focus {
            background-color: lightblue;
        }
    </style>
{% endblock %}
{% block content %}
<div class="row justify-content-center" style="margin: 2%;">
    <form action="" id="input" method="POST">
        <input type="text" name="userInput" id="riubiwn">
    </form>
    <p>{{ question }}</p>
    <form action="" id="input" method="POST">
        <input type="text" name="userInput" placeholder="Add custom question">
        <input type="text" name="userInput" placeholder="Add custom answer">
        <input type="submit" value="Add!">
        <br>
        <br>
        <input type="text" name="userInput" placeholder="Update question #">
        <input type="text" name="userInput" placeholder="Update question">
        <input type="text" name="userInput" placeholder="Update answer">
        <input type="submit" value="Update!">
        <br>
        <br>
        <input type="text" name="userInput" placeholder="Delete question #">
        <input type="submit" value="Delete!">
    </form>
    <iframe height="1000px" width="1000px" src="https://replit.com/@CcWw/CreateTask?lite=true"></iframe>
</div>
{% endblock %}
</html>