<!DOCTYPE html>
<html lang="en">
{% include "layouts/base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Connor Home Page</title>
    <style>
        .button{
            margin-left: 45%;
        }
    </style>
    <script>
        function connorMask(){
            document.getElementById('myImage')
                .src="../static/img/connorpicture.jpg";
            document.getElementById('message')
        }

        function connorNoMask(){
            document.getElementById('myImage')
                .src="../static/img/connor_no_mask.jpg";
            document.getElementById('message')
        }
    </script>
</head>
<body>
    <h3 id="message">
        Hi! I'm Connor Wang. Welcome to my home page. Stay as long as you'd like!
    </h3>
    <div class=imageContainer>
        <img  id="myImage"
              src="../static/img/connorpicture.jpg" width="530" height="300"/>
    </div>
<div class="button">
    <button class="btn btn-warning"
            onclick=connorMask();>
        Mask
    </button>
    <button  class="btn btn-success"
             onclick=connorNoMask();>
        No Mask
    </button>
</div>
</body>
</html>
