<!DOCTYPE html>
<html lang="en">
{% extends "layouts/base.html" %}

{% block meta %}
    <meta charset="UTF-8">
    <title>Connarch Astrotrivianator</title>
    <style>
        input {
            padding: 12px 20px;
            box-sizing: border-box;
            border: 15px darkblue;
            border-radius: 10px;
            {#outline: none;#}
        }

        input[type=text]:focus {
            background-color: lightblue;
        }
    </style>
{% endblock %}
{% block content %}
<div class="row justify-content-center" style="margin: 2%;">

    <h1>Welcome to Connarch's Astrotrivianator!</h1>
    <h3>Please select a category:</h3>
    <div class="button">
        <button class="btn btn-danger" onclick="window.location.href='/connarch_astrotrivianator/human_space_travel/'">
            Human Space Travel
        </button>
        <button class="btn btn-success" onclick="window.location.href='/connarch_astrotrivianator/unmanned_space_travel/'">
            Unmanned Space Travel
        </button>
        <button class="btn btn-dark" onclick="window.location.href='/connarch_astrotrivianator/solar_system/'">
            Solar System
        </button>
    </div>
{#    <iframe height="1000px" width="1000px" src="https://replit.com/@CcWw/CreateTask?lite=true"></iframe>#}
</div>
{% endblock %}
</html>