<!DOCTYPE html>
<html lang="en">
{% include "layouts/base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Free to Play Games</title>
    <script>

    </script>
</head>
<body>
<b>
    <div class="contact" style="height: 21vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <div class="col-12">
                <form id="filter" method="POST" >
                    <label for="platform">Platform:</label>
                    <select name="platform" id="platform">
                        <option value="all">All</option>
                        <option value="browser">Browser</option>
                        <option value="pc">PC (Windows)</option>
                    </select>
                    <br><br>
                    <label for="category">Genre:</label>
                    <select name="category" id="category">
                        <option value="all">All</option>
                        <option value="shooter">Shooter</option>
                        <option value="strategy">Strategy</option>
                    </select>
                    <br><br>
                    <input type="submit" value="Sort">
                </form>
                {% if category %}
                <p><br>Sorted by: platform: {{ query["platform"] }}, category: {{ query["category"] }}, in order of: {{ query["sort-by"] }}</p>
                {% else %}
                <p><br>Sorted by: platform: {{ query["platform"] }}, category: all, in order of: {{ query["sort-by"] }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</b>
<div class="contact" style="height: 5vh;">
    <div class="row justify-content-left" style="margin: 2%;">
        {% for i in range(length) %}
            <div class="row p-3 my-3 bg-black text-light rounded">
                <div class="col-12 bg-light text-dark rounded">
                    <p>{{i + 1}}. Name: <u><b>{{ games[i]['title'] }}</b></u></p>
                    <p>&nbsp;&nbsp;&nbsp;Description: <b>{{ games[i]['short_description'] }}</b></p>
                    <p>&nbsp;&nbsp;&nbsp;Game Website: <b><a href="{{ games[i]['game_url'] }}">{{ games[i]['game_url'] }}</a></b></p>
                    <p>&nbsp;&nbsp;&nbsp;Genre: <b>{{ games[i]['genre'] }}</b></p>
                    <p>&nbsp;&nbsp;&nbsp;Platform: <b>{{ games[i]['platform'] }}</b></p>
                    <p>&nbsp;&nbsp;&nbsp;Publisher: <b>{{ games[i]['publisher'] }}</b></p>
                    <p>&nbsp;&nbsp;&nbsp;Developer: <b>{{ games[i]['developer'] }}</b></p>
                    <p>&nbsp;&nbsp;&nbsp;Release Date: <b>{{ games[i]['release_date'] }}</b></p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>