<!-- Extending the predefined project layout -->
<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">
{% include "layouts/base.html" %}





<head>
    <title>Activities</title>

</head>

<body>


<!- Try building a new body here ->
<h1><strong>Games</strong></h1>
<h4 style="color:FireBrick;">Welcome to the Playground!</h4>
<p>You are at the “Games” screen of this website. This is where you will play games. </p>


    <div class="container p-3 my-3 bg-black text-light rounded" style="box-shadow: yellow">
        <div class="row p-3 my-3 bg-black text-light rounded">

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="/games/tictactoe/">Tic Tac Toe</a>!<br>
                <a href="/games/tictactoe/"> <embed type="image/jpg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Tic_tac_toe.svg/1200px-Tic_tac_toe.svg.png" width="160" height="160"></a>
                <p>Classic TicTacToe!</p>
            </div>
            <div class="col-1"></div>

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="/games/blackscreen">Blackscreen</a>!<br>
                <a href="/games/blackscreen"> <embed type="image/jpg" src="/static/assets/000000.png" width="160" height="160"></a>
                <p>Begin your journey...</p>
            </div>
            <div class="col-1"></div>

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="/games/terminal">Terminal Color</a>!<br>
                <a href="/games/terminal"> <embed type="image/jpg" src="/static/assets/000000.png" width="160" height="160"></a>
                <p>Play terminal color!</p>
            </div>
            <div class="col-1"></div>

            <div class="col-12"><br></div>
            <div class="col-12"><br></div>
            <div class="col-12"><br></div>

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="#">[Activity]</a>!<br>
                <a href="/games/blackscreen"> <embed type="image/jpg" src="/static/assets/000000.png" width="160" height="160"></a>
                <p>[Description]</p>
            </div>
            <div class="col-1"></div>

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="#">[Activity]</a>!<br>
                <a href="/games/blackscreen"> <embed type="image/jpg" src="/static/assets/000000.png" width="160" height="160"></a>
                <p>[Description]</p>
            </div>
            <div class="col-1"></div>

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="#">[Activity]</a>!<br>
                <a href="/games/blackscreen"> <embed type="image/jpg" src="/static/assets/000000.png" width="160" height="160"></a>
                <p>[Description]</p>
            </div>
            <div class="col-1"></div>

            <div class="col-12"><br></div>
            <div class="col-12"><br></div>
            <div class="col-12"><br></div>

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="#">[Activity]</a>!<br>
                <a href="/games/blackscreen"> <embed type="image/jpg" src="/static/assets/000000.png" width="160" height="160"></a>
                <p>[Description]</p>
            </div>
            <div class="col-1"></div>

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="#">[Activity]</a>!<br>
                <a href="/games/blackscreen"> <embed type="image/jpg" src="/static/assets/000000.png" width="160" height="160"></a>
                <p>[Description]</p>
            </div>
            <div class="col-1"></div>

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="#">[Activity]</a>!<br>
                <a href="/games/blackscreen"> <embed type="image/jpg" src="/static/assets/000000.png" width="160" height="160"></a>
                <p>[Description]</p>
            </div>
            <div class="col-1"></div>

            <div class="col-12"><br></div>
            <div class="col-12"><br></div>
            <div class="col-12"><br></div>

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="#">[Activity]</a>!<br>
                <a href="/games/blackscreen"> <embed type="image/jpg" src="/static/assets/000000.png" width="160" height="160"></a>
                <p>[Description]</p>
            </div>
            <div class="col-1"></div>

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="#">[Activity]</a>!<br>
                <a href="/games/blackscreen"> <embed type="image/jpg" src="/static/assets/000000.png" width="160" height="160"></a>
                <p>[Description]</p>
            </div>
            <div class="col-1"></div>

            <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >Play <a href="#">[Activity]</a>!<br>
                <a href="/games/blackscreen"> <embed type="image/jpg" src="/static/assets/000000.png" width="160" height="160"></a>
                <p>[Description]</p>
            </div>
            <div class="col-1"></div>

        </div>
    </div>

</body>

</html>