<!DOCTYPE html>
<html lang="en">
{% include "layouts/base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Free to Play Games Quiz</title>
</head>
<body>
<p>What game has the description "{{ games[i]['short_description']}}"?</p>

<script>
    let answer = {{games[i]['title']}};
    function check(){
        if (document.getElementById("input").value == answer) {
            document.getElementById("results").innerText = "you were right"
        } else {
            document.getElementById("results").innerText = "lol thats wrong"
        }
        document.getElementById("AI").innerText = answer
    }
</script>

<input type="text" id="input" placeholder="pick a game">

<button class="button" onclick="check()">Check your answer</button>

<a class="button" href="/gamesapiquiz">Next Question</a>

<p id="results">Answer Message</p>
<p id="AI">Solution</p>
</body>
</html>