<!DOCTYPE html>
<html lang="en">
{% include "layouts/base.html" %}
<style>
    div {text-align: center; vertical-align: center}
</style>
<head>
{% set AWAKEIMG = "/static/assets/awakepatricksimulator.gif" %}
{% set SLEEPIMG = "/static/assets/sleepingpatricksimulator.gif" %}
{% set TOOMUCH = "/static/assets/patrickstaringup.png" %}
{% set AWAKEMSG = "Sleep" %}
{% set SLEEPMSG = "Unsleep" %}
    <meta charset="UTF-8">
    <title>Sleeping Simulator</title>
    <script>
        let sleepcounter = 0;
        let awakecounter = 0;
        function changeSleep() {
            const image = document.getElementById('pic');
            const butt = document.getElementById('butt');
            const awakecount = document.getElementById('awakecount');
            const sleepcount = document.getElementById('sleepcount');
            const congrats = document.getElementById('congrats');
            image.width = (475 + awakecounter * 5).toString()
            if (image.src.match("{{ AWAKEIMG }}")) {
                image.src = "{{ SLEEPIMG }}";
                butt.innerHTML = "Click to <b>{{ SLEEPMSG }}</b>";
                sleepcounter += 1;
                sleepcount.innerHTML = "Sleep Counter: " + awakecounter.toString()
            } else {
                image.src = "{{ AWAKEIMG }}";
                butt.innerHTML = "Click to <b>{{ AWAKEMSG }}</b>";
                awakecounter += 1;
                awakecount.innerHTML = "Awake Counter: " + awakecounter.toString()
            }
            if (awakecounter === 20) {
                congrats.innerText = "omg you just woke patrick up for the 20th time!"
            }
            else if (awakecounter === 21) {
                congrats.innerText = "\n"
            }
            else if (awakecounter >= 26 && awakecounter <= 33) {
                congrats.innerText = "no why are you still clicking, this is the " +  awakecounter.toString() + "th time you woke patrick up. let him sleep"
            }
            else if (awakecounter === 34) {
                congrats.innerText = "\n"
            }
            else if (awakecounter >= 35 && awakecounter <= 40) {
                congrats.innerText = "haha you can stop now.."
            }
            else if (awakecounter === 41) {
                congrats.innerText = "."
            }
            else if (awakecounter > 43 && awakecounter < 50) {
                let string = ""
                for (let i = 0; i < awakecounter - 43; i++)
                    string += "!!"
                congrats.innerText = "stop" + string
            }
            else if (awakecounter === 50) {
                image.src = "{{ TOOMUCH }}"
                image.onclick = ""
                image.width = "1200"
                butt.innerText = ""
                awakecount.innerText = ""
                sleepcount.innerText = ""
                congrats.innerText = ""
            }
        }
    </script>
</head>
<body>

<div>
    <p id="sleepcount">Sleep Counter: 0</p>
    <p id="awakecount">Awake Counter: 0</p>
    <b><p id="congrats"><br></p></b>
    <p id="butt">Click to <b>{{ SLEEPMSG }}</b></p>
    <td><img onclick="changeSleep()" class="img-responsive py-3" id="pic" src="{{ SLEEPIMG }}" alt="" width="475" height="Auto">
    </td>
</div>

</body>
</html>