<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sunormoon</title>
</head>
<h1>Are you more like the sun or the moon</h1>
<h2>Answer each question 1-5</h2>
<body>
<form method="POST">
    <label for="ques1">Do you like the heat? 1 being not at all 5 being you love it </label>
    <input type="number" name="ques1" id="ques1">
    <br>
    <label for="ques2">DO you like bright colors? 1 being not at all 5 being you love it</label>
    <input type="number" name="ques2" id="ques2">
    <br>
    <label for="ques3">Do you like going out? 1 being not at all 5 being you love to </label>
    <input type="number" name="ques3" id="ques3">
    <br>
    <label for="ques4">Are you a morning person? 1 being not at all 5 totally</label>
    <input type="number" name="ques4" id="ques4">
    <br>
    <label for="ques5">Are you a cup half full person? 1 being not at all 5 totally</label>
    <input type="number" name="ques5" id="ques5">
    <br>
    <label for="ques6">Do you get scared by movies and books easily? 1 being not at all 5 being you love to</label>
    <input type="number" name="ques6" id="ques6">
    <br>
    <label for="ques7">Would your friends describe you as happy/joyful? 1 being not at all 5 being you love to</label>
    <input type="number" name="ques7" id="ques7">
    <br>
    <input type="submit" value="Enter">
</form>
{{ result }}
{{ moonp }}
</body>
</html>