<!-- Extending the predefined project layout -->
<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">
{% include "layouts/base.html" %}





<head>
    <title>Playground | Games </title>
    <style>
        /* Adding some basic styling to button */

        {#.btn {#}
        {#    text-decoration: none;#}
        {#    border: none;#}
        {#    padding: 12px 40px;#}
        {#    font-size: 16px;#}
        {#    background-color: green;#}
        {#    color: #fff;#}
        {#    border-radius: 5px;#}
        {#    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);#}
        {#    cursor: pointer;#}
        {#    outline: none;#}
        {#    transition: 0.2s all;#}
        {# }#}
        {#/* Adding transformation when the button is active */#}
        {##}
        {#.btn:active {#}
        {#    transform: scale(0.98);#}
        {#    /* Scaling button to 0.98 to its original size */#}
        {#    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);#}
        {#    /* Lowering the shadow */#}
        {# }#}

        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <script>
        const height = {{ height }}; const width = {{ width }};
        let click = false
        {#function play() {#}
        {#    for (let i = 0; i < 11; i++) {#}
        {#        let rj = Math.floor(Math.random() * (height + 1))#}
        {#        let ri = Math.floor(Math.random() * (width + 1))#}
        {#        document.getElementById( rj + "pic" + ri).src = "/static/assets/whackamolemole.jpg"#}
        {#        if (click === true) {#}
        {#            document.getElementById( rj + "pic" + ri).src = "none"#}
        {#        }#}
        {#    }#}
        {# }#}

        function randomizeMole() {
            document.getElementById('1').src = "/static/assets/whackamolewhitesquare.jpg"
            document.getElementById('2').src = "/static/assets/whackamolewhitesquare.jpg"
            document.getElementById('3').src = "/static/assets/whackamolewhitesquare.jpg"
            document.getElementById('4').src = "/static/assets/whackamolewhitesquare.jpg"

            let mole = Math.floor(Math.random() * 5).toString();
            document.getElementById(mole).src = "/static/assets/whackamolemole.jpg"
        }

    </script>

</head>

<body>

{% set height = 2 %}
{% set width = 2 %}
<div>
<h1 style="text-align: center"><strong>Whack A Mole</strong></h1>
{#{% for i in range(height) %}#}
{#    <table class="center">#}
{#        <tr>#}
{#            {% for j in range(width) %}#}
{#                <th><img class="img-responsive py-3" onclick="play()" id="{{ i }}pic{{ j }}" src="/static/assets/whackamolemole.jpg" width="100" height="100"></th>#}
{#            {% endfor %}#}
{#        </tr>#}
{#    </table>#}
{#{% endfor %}#}
{##}
{#    <th><img class="img-responsive py-3" onclick="play()" id="{{ i }}pic{{ j }}" src="/static/assets/whackamolemole.jpg" width="100" height="100"></th>#}

</div>

<table class="center">
    <tr>
        <th><img class="img-responsive py-3" onclick="randomizeMole()" id="1" src="/static/assets/whackamolewhitesquare.jpg" width="100" height="100"></th>
        <th><img class="img-responsive py-3" onclick="randomizeMole()" id="2" src="/static/assets/whackamolewhitesquare.jpg" width="100" height="100"></th>
    </tr>
    <tr>
        <th><img class="img-responsive py-3" onclick="randomizeMole()" id="3" src="/static/assets/whackamolewhitesquare.jpg" width="100" height="100"></th>
        <th><img class="img-responsive py-3" onclick="randomizeMole()" id="4" src="/static/assets/whackamolewhitesquare.jpg" width="100" height="100"></th>
    </tr>
</table>

</body>

</html>