<!-- Extending the predefined project layout -->
<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">
{% extends "layouts/base.html" %}

{% block meta %}
    <title>Terminal</title>
{% endblock %}

{% block content %}

<div class="container p-3 my-3 bg-light text-black rounded">
    <h5>passwords.txt</h5>
    <p>Greetings, Agent G2. I am not your enemy.</p>
    <p>
        In fact, I would like to discuss something with you.
        You seem to be... distracted from your current work.
        Your boss seems to think you are just lazy, or perhaps absent minded, but I can see more within you.
    </p>
    <p>
        So how about we strike a deal.
        Disable your password, and give me access to your company's systems. In return, I'll give you access to each of your co-worker's passwords.
        You'll be able to see how they are doing so well, with access to their tools, programs, and notes.
        Alternatively, you can also sabotage their work. If you get better and they get worse, who'll get the raise next month?
    </p>
    <p>
        In the end, it is your choice.
        If your system is open by midnight, I will leave you everything you need in this document.
    </p>
    <h6>G1 password: kH9MCq</h6>
    <h6>G2 password: Thanks for letting me in. Good luck in your endeavours, Agent G2.</h6>
    <h6>G3 password: Pr3vuw</h6>
    <h6>G4 password: Eve4px</h6>
</div>

<div class="container p-3 my-3 bg-black text-light rounded">
    <button onclick="goBack()">Close</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>

{% endblock %}

</html>
